<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button> <!-- Corrigido o link para "/login" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
          
          <!-- Adicionado o rótulo diretamente no ion-input -->
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome" label="Nome"></ion-input>
          </ion-item>
          <div *ngIf="formCadastrar.get('nome')?.touched && formCadastrar.get('nome')?.errors?.['required']" class="error-message">
            Nome obrigatório
          </div>
          
          <!-- Adicionado o rótulo diretamente no ion-input -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" label="Email"></ion-input>
          </ion-item>
          <div *ngIf="formCadastrar.get('email')?.touched && formCadastrar.get('email')?.errors?.['required']" class="error-message">
            Email obrigatório
          </div>
          <div *ngIf="formCadastrar.get('email')?.dirty && formCadastrar.get('email')?.errors?.['email']" class="error-message">
            Formato de email inválido
          </div>
          
          <!-- Adicionado o rótulo diretamente no ion-input -->
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="senha" label="Senha"></ion-input>
          </ion-item>
          <div *ngIf="formCadastrar.get('senha')?.touched && formCadastrar.get('senha')?.errors?.['required']" class="error-message">
            Senha obrigatória
          </div>
          <div *ngIf="formCadastrar.get('senha')?.dirty && formCadastrar.get('senha')?.errors?.['minlength']" class="error-message">
            Senha precisa ter 6 dígitos
          </div>
          
          <!-- Adicionado o rótulo diretamente no ion-input -->
          <ion-item>
            <ion-label position="floating">Confirme sua senha</ion-label>
            <ion-input type="password" formControlName="confsenha" label="Confirme sua senha"></ion-input>
          </ion-item>
          <div *ngIf="formCadastrar.get('confsenha')?.touched && formCadastrar.get('confsenha')?.errors?.['required']" class="error-message">
            Confirmação de senha obrigatória
          </div>
          <div *ngIf="formCadastrar.get('confsenha')?.dirty && formCadastrar.get('senha')?.value !== formCadastrar.get('confsenha')?.value" class="error-message">
            As senhas precisam ser iguais
          </div>
          
          <ion-button expand="full" color="success" type="submit">Cadastrar</ion-button>
          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
