

<ion-content >
  
  <button class="save-button" (click)="onSaveAnnotations()">Salvar anotações</button>

  <div class="pdf-container" style="height: 100vh;">
    <ngx-extended-pdf-viewer 
      [src]="selectedPdfUrl"
      class="small-pdf-viewer" 
      [showToolbar]="true"
      [showSidebarButton]="true"
      [showFindButton]="true"
      [showPagingButtons]="true"
      [showPrintButton]="true"
      [handTool]="true"
      
      [showHandToolButton]="true"
      [showOpenFileButton]="false">
    </ngx-extended-pdf-viewer>
    
  </div>
</ion-content>
