.content-center {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .intro-message {
    margin-bottom: 20px;
  }
  
 

  
  .container-button {
    margin-top: 20px;
    width: 100%;
  }
  
  .cadastro {
    background: #0e0047;
    border-radius: 10px;
    width: 100%;
  }
  
  ion-button {
    margin-top: 10px;
  }