<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
        Home
    </ion-tab-button>
    <ion-tab-button tab="busca">
      <ion-icon name="search-outline"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="bookcase">
      <ion-icon name="library-outline"></ion-icon>
      Estantes
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      Conta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
