ion-tab-bar {
    --background: #0E0047;
    --color: #ffffff; /* Cor do texto dos botões */
    --color-selected: #ffffff; /* Cor do texto dos botões quando selecionados */
  }
  
  ion-tab-button {
    --color: #ffffff; /* Cor do texto dos botões */
    --color-selected: #ffffff; /* Cor do texto dos botões quando selecionados */
  }
  
  ion-icon {
    --color: #ffffff; /* Cor dos ícones */
    --color-selected: #ffffff; /* Cor dos ícones quando selecionados */
  }
  