<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let bookcase of bookcases" class="collection-container">
      <ion-label>
        <h2 class="collection-title">{{ bookcase.bookcasename }}</h2>
        <div class="cover-container">
          <ion-img 
            *ngFor="let bookId of bookcase.books.slice(0, showAll[bookcase.bookcasename] ? bookcase.books.length : 0)"
            class="cover-image"
            [src]="bookCovers[bookId]"
            alt="Cover"
            (click)="onEbookClicked(bookId)">
          </ion-img>
          <div class="cover-placeholder" *ngIf="bookcase.books.length === 0">Nenhuma capa disponível</div>
        </div>
        <div class="button-container">
          <button ion-button (click)="toggleShowAll(bookcase.bookcasename)">
            {{ showAll[bookcase.bookcasename] ? 'Mostrar Menos' : 'Mostrar Mais' }}
          </button>
        </div>
      </ion-label>
      <ion-buttons slot="start">
        <ion-button (click)="presentActionSheet(bookcase)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
