  .content-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      margin-top: 80px;
    }
    
    .logo {
      width: 60vh;
      height: auto;
    }
    
    .form-container {
  
      margin-top: 20px;
    }
    
    .container-form {
      margin-top: 20px;
    }
    
    .error-container {
      padding-left: 20px;
    }
    .rounded-border {
      border: 2px solid #000;
      border-radius: 20px;
    
    }
    
    .error-message {
      color: red;
      font-size: 12px;
      display: block;
    }
    
    .container-botton {
      margin-top: 20px;
    }
    
    ion-button {
      margin-top: 10px;
    }
    .custom {
      color: #0e0047; /* Cor dos ícones */
    }
    
    ion-input {
      color: #0e0047; /* Cor do texto dos inputs */
    }
    
    .button-custom {
      --background:#0e0047; /* Cor de fundo dos botões */
      color: #ffffff; /* Cor do texto dos botões */
    }
    .button-google{
      --background: #4285f4
    }

    .button{
      background: #47465D;
    }
    
    ion-item.rounded-border {
      --border-color: #0e0047; /* Cor da borda dos inputs */
    }
    
    