
<ion-content [fullscreen]="true" padding>
  <ion-card>


    <ion-card-content class="ion-text-center">
      <ion-item lines="none" class="image-container">
        <img [src]="ebook.coverImage" alt="Capa do eBook" class="cover-image">
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Título do Livro</ion-label>
        <ion-input type="text" [(ngModel)]="ebook.title" aria-label="titulo" aria-labelledby="titulo"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Autor</ion-label>
        <ion-input type="text" [(ngModel)]="ebook.author" aria-label="autor" aria-labelledby="autor"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Número de Páginas</ion-label>
        <ion-input type="number" [(ngModel)]="ebook.pageCount" aria-label="numero de paginas" aria-labelledby="numero de paginas"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success" (click)="saveChanges()">Salvar Alterações</ion-button>
</ion-content>
